.wrapper {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    font-family: inherit;
}

body {
    background-color: white;
    overflow-x: hidden;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

label {
    cursor: pointer;
}

#root {
    display: flex;
}

button[type="submit"]{
    cursor: pointer;
}