.gallerySection {
    padding: 75px 0;
    text-align: center;

    .wrapper {
        width: 95%;
    }

    .rec-dot {
        display: none;
    }

    legend {
        width: 100%;
        margin-bottom: 75px;
    }

    .rec.rec-arrow-right,
    .rec.rec-arrow-left {
        background-color: $quaternary;
    }

    .rec.rec-arrow:hover,
    .rec.rec-arrow:focus {
        background-color: $primary;
    }

    .choice {
        display: block;
        height: 175px;
        width: 175px;
        filter: brightness(65%);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 5px solid $secondary;
    }
    
    .foodContainer,
    .allergyContainer {
        position: relative;
    }

    .cuisineIdentifier {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    button[type='submit'] {
        background-color: $primary;
        color: white;
        border: none;
        padding: 10px 50px;
        border-radius: 25px;
        margin-top: 60px;
        transition: all 0.5s ease;

        &:hover,
        &:focus {
            color: black;
        }
    }
}