html {
    font-size: 125%;
}

body {
    font-family: $secondary-font;
}

h1 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}