html {
    font-size: 125%;
}

body {
    font-family: $secondary-font;
}

h1 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

// Nav / Options

.logoText {
    font-size: 1.3rem;
    font-family: $tertiary-font;
    font-weight: 700;
}

// Home

.searchButton {
    font-family: $tertiary-font;
    color: rgba(0,0,0,0.4);
    text-align: start;
}

// Gallery

.gallerySection h1 {
    color: rgba(0,0,0,0.7);
}

.cuisineIdentifier {
    font-family: $tertiary-font;
    font-size: 1.2rem;
}

button[type='submit'] {
    font-family: $tertiary-font;
}